.container
  .frame
    - var r = 0;
    while r++ < 13
      .row
        - var c = 0;
        while c++ < 15
          .cube-holder
            .inverse-cube
              .side
              .side
              .side
              .side
              .side
              .side

a#youtube(href="https://youtu.be/cNqgatGqvC8", target="_blank")
  span See how it was made
